.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.display-data {
  min-width: 75%;
}

.input-group {
  width: auto;
  margin: 25px;
  display: inline-flex;
  justify-content: center;
}

*:focus {
  outline: none;
}

.display-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thunderstorm-bg {
  background-image: linear-gradient(rgb(43, 0, 137) rgb(137, 99, 253));
}

.drizzle-bg {
  background-image: linear-gradient(rgb(0, 56, 210), rgb(160, 163, 254));
}

.rain-bg {
  background-image: linear-gradient(rgb(0, 140, 143), rgb(72, 252, 252));
}

.snow-bg {
  background-image: linear-gradient(rgb(0, 247, 255), rgb(182, 244, 255));
}

.atmosphere-bg {
  background-image: linear-gradient(rgb(202, 2, 129), rgb(245, 163, 215));
}

.clear-bg {
  background-image: linear-gradient(rgb(255, 226, 7), rgb(184, 175, 0));
}

.clouds-bg {
  background-image: linear-gradient(rgb(0, 158, 0), rgb(123, 249, 132));
}